<div block="page" mix="block:container">
    <div elem="row">
        <cat-loader id="pages-content-loader"></cat-loader>

        <!--&lt;!&ndash; popup for video &ndash;&gt;-->
        <!--<div block="popup-video-cont">-->
        <!--<p elem="title"></p>-->
        <!--<div elem="video-cont"></div>-->

        <!--<div block="master-micro-inf" mod="video">-->
        <!--<p elem="title">Видео добавил:</p>-->
        <!--<a href="" elem="cont">-->
        <!--<span elem="img"><img src="" alt=""></span>-->
        <!--<span elem="name"><br></span>-->
        <!--</a>-->
        <!--</div>-->

        <!--<p elem="text"></p>-->
        <!--<div elem="social-cont"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; popup for video - end &ndash;&gt;-->

        {{#unless isActive.main}}
            {{#unless isActive.master-print-card}}
                <cat-common-breadcrumps id="breadcrumps" cat-store="Breadcrumps"></cat-common-breadcrumps>
            {{/unless}}
        {{/unless}}

        <div block="content">
            <cat-page-{{current}} id="page-current-{{current}}" cat-store="{{currentStore}}"></cat-page-{{current}}>
        </div>
    </div>
</div>
