<div block="page" mix="block:container">
    <div elem="row">
        <cat-loader id="pages-content-loader"></cat-loader>

        {{#unless isActive.main}}
            <cat-breadcrumps id="breadcrumps" cat-store="Breadcrumps"></cat-breadcrumps>
        {{/unless}}

        <div block="content">
            <cat-page-{{current}} id="page-current-{{current}}"></cat-page-{{current}}>
        </div>
    </div>
</div>
