<div block="page" mix="block:container">
    <div block="row">
        <cat-loader id="pages-content-loader"></cat-loader>

        {{#unless isActive.main}}
            <cat-breadcrumps id="breadcrumps" cat-store="Breadcrumps"></cat-breadcrumps>
        {{/unless}}

        {{#if isActive.masterRubrika}}
            <cat-page-master-rubrika id="page-current-master-rubrika"></cat-page-master-rubrika>
        {{else}}
            <cat-page-{{current}} id="page-current-{{current}}"></cat-page-{{current}}>
        {{/if}}

    </div>
</div>
