<div block="oferta-page">

    <h1 block="h1" mod="style">ОФЕРТА от 01.03.2015 </h1>

    <div block="oferta">
        <p><strong>на пользование Услугами Сайта www.facemaster.ru</strong></p>

        <p>ЗАО «ФейсМастер.ру», именуемое в дальнейшем «Компания», предоставляет любому лицу услуги по использованию
            сайта Компании в личных целях посредством предоставления сервисов сайта на приведенных ниже условиях.</p>

        <p>Безусловным принятием (акцептом) условий настоящей оферты считается пользование Сайтом <strong>http://www.facemaster.ru</strong>,
            включая просмотр страниц Сайта, не зависимо от прохождения процедуры Регистрации.</p>

        <p>Настоящая Оферта может быть изменена по усмотрению Компании в любое время без какого-либо специального
            уведомления об этом Пользователя. Новая редакция Оферты, изменения и дополнения к ней вступают в силу с
            момента их размещения на Сайте. Регулярное ознакомление с действующей редакцией Оферты является обязанностью
            Пользователя. Пользование Сайтом после вступления в силу новой редакции Оферты, дополнений и изменений к ней
            означает согласие Пользователя со всеми такими изменениями или дополнениями, новой редакцией Оферты.</p>

        <br>

        <p><strong>1. ТЕРМИНЫ и ОБОЗНАЧЕНИЯ</strong></p>

        <p><strong>Компания</strong> – ЗАО «ФейсМастер.ру»: ОГРН 1136320020825 ИНН 6321323406, Юридический адрес:
            445056, г.Тольятти, ул.Автостроителей, 41А, корп.1<br>
            <br>
            <strong>Пользователь/Клиент</strong> – дееспособное, в возрасте от 18 лет, физическое лицо/правоспособное
            юридическое лицо, прошедшие Регистрацию на сайте Компании, имеющие все правовые полномочия в соответствии с
            действующим законодательством РФ на заключение Оферты и иных сопутствующих документов для использования
            возможностей Сайта Компании.<br>
            <br>
            <strong>Сайт</strong> – Интернет-сайт, размещенный в сети Интернет по адресу: www.facemaster.ru, включающий
            в себя комплекс элементов: программы для ЭВМ, базы данных, интерфейс (дизайн), как в совокупности, так и
            отдельные элементы дизайна, и др.<br>
            <br>
            <strong>Гость</strong> – любое лицо, не прошедшее Регистрацию, имеющее возможность просматривать страницы
            Сайта и Информацию, размещенную Пользователями для общего доступа.<br>
            <br>
            <strong>Регистрация</strong> – комплекс действий по принятию оферты, размещенной на Сайте, созданию Личного
            кабинета, путем ввода учетных данных и иных необходимых сведений, и получению права на пользование Услугами
            Интернет-сайта.<br>
            <br>
            <strong>Учетные данные </strong>— уникальный логин (номер телефона) и пароль, создаваемые в процессе
            Регистрации на Сайте, используемые для доступа Пользователя/Клиента в Личный кабинет путем Авторизации.<br>
            <br>
            <strong>Авторизация</strong> — идентификация Пользователя/Клиента посредством введения в соответствующие
            поля на Сайте Учетных данных.<br>
            <br>
            <strong>Личный кабинет </strong>— персональная страница Пользователя/Клиента, формируемая после Регистрации,
            доступ к которой предоставляется Пользователю/Клиенту в результате Авторизации.<br>
            <br>
            <strong>Оферта</strong> – настоящее предложение Компании, адресованное неопределенному кругу лиц, содержащее
            правила и условия пользования Услугами Сайта, а также права и обязанности Пользователей/Клиентов
            обязательные для исполнения при размещении Информации на Сайте для общего доступа.<br>
            <br>
            <strong>Услуги</strong> - возможности (права), предоставляемые Компанией и позволяющие
            Пользователю/Клиенту/Гостю размещать, осуществлять поиск и просмотр Информации, а также любые иные
            возможности и функции, доступные на Сайте. <strong>Бесплатные услуги</strong> – базовый набор услуг,
            предоставляемый без взимания платы. <strong>Платные услуги</strong> – набор дополнительных услуг, за
            использование которых взимается плата согласно тарифам Компании.</p>

        <p><strong>Информация – </strong>услуги и предложения Пользователя/Клиента, сведения о которых он размещает на
            Сайте, адресованные и доступные неопределенному кругу лиц (Гостям и/или другим Пользователям).<br>
            <br>
            <strong>Договор</strong> – соглашение, формируемое при Регистрации Пользователя/Клиента и вступающее в силу
            в момент оплаты первого счета за Услуги.</p>

        <br>

        <p><strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>

        <p>2.1 Компания предоставляет Пользователю/Клиенту/Гостю на условиях настоящей Оферты, Договора и Дополнительных
            соглашений, приложений право на пользование Услугами Сайта с возможностью размещать, осуществлять поиск и
            просмотр Информации других Пользователей\Клиентов.<br>
            2.2 Все сделки: «Пользователь/Клиент – Пользователь/Клиент» либо «Пользователь/Клиент – Гость» заключаются
            напрямую. При этом, Компания не является участником таких сделок, а предоставляет лишь коммуникационную
            платформу для Информации Пользователей/Клиентов.<br>
            2.3 Услуги не предоставляются и не должны использоваться лицами младше 18 лет, лицами признанными
            недееспособными, а также ограниченно дееспособными лицами. Лица, не достигшие 18 лет, или лица, признанные
            недееспособными или ограничено дееспособными, могут пользоваться Услугами только с согласия своих законных
            представителей.</p>

        <br>

        <p><strong>3. ПРАВИЛА ПОЛЬЗОВАНИЯ САЙТОМ</strong></p>

        <p>3.1. Гость вправе просматривать Информацию Пользователей/Клиентов, находящуюся в открытом доступе, и
            воспользоваться услугами, содержащимися в Информации, без Регистрации на Сайте.<br>
            3.2. Пользователь/Клиент получает право воспользоваться Услугами Сайта по размещению Информации для доступа
            к ней неопределенного круга лиц, после прохождения процедуры Регистрации – для Бесплатных Услуг, а также,
            дополнительно, после оформления Договора, листа заказа и оплаты счета - для Платных Услуг.<br>
            3.3. При Регистрации, а также оформлении договора и листа заказа Пользователь/Клиент заполняет все
            необходимые поля специальных форм. Не заполнение хотя бы одного обязательного поля (в т.ч. ввод некорректных
            данных) влечет недействительность регистрации либо листа заказа.<br>
            3.4. После прохождения Регистрации Пользователь/Клиент получает на указанный им номер мобильного телефона
            ПАРОЛЬ, который в дальнейшем используется Пользователем/Клиентом для Авторизации и входа в Личный
            кабинет.<br>
            3.5. Пользователь/Клиент несет полную ответственность за все действия с использованием его Логина (номер
            мобильного телефона) и Пароля. Пользователь/Клиент имеет право пользоваться Услугами Сайта только при помощи
            собственного номера мобильного телефона и пароля.<br>
            3.6. При пользовании Сайтом <strong>ЗАПРЕЩЕНО:</strong><br>
            - использовать автоматические программы для получения доступа на Сайт;<br>
            - использовать компьютерные программы, позволяющие размещать на Сайте Информацию, минуя обычный порядок
            размещения (к примеру использование программ по автозагрузке Информации);<br>
            - предпринимать какие-либо действия, которые могут привести к непропорционально большой нагрузке на
            инфраструктуру Сайта;<br>
            - копировать, воспроизводить, изменять, распространять и представлять общественности любую информацию,
            содержащуюся на Сайте (кроме Сведений, предоставленных самим Пользователем/Клиентом) без предварительного
            письменного разрешения Компании;<br>
            - препятствовать работе Сайта, а также препятствовать действию автоматических систем или процессов, с целью
            воспрепятствовать или ограничить доступ на Сайт;<br>
            - использовать сведения, предоставленные другим Пользователем/Клиентом, без письменного разрешения
            Пользователя/Клиента, разместившего такие сведения, или без подтверждения каким-либо другим способом права
            использовать такие сведения. Все сведения, полученные Пользователем/Клиентом о других Пользователях в связи
            с использованием Сайта, могут быть использованы только для совершения и исполнения сделок в отношении услуг,
            содержащихся в Информации Пользователей/Клиентов. Таким образом, Пользователю/Клиенту не разрешается
            использовать электронный адрес, ровно, как и номер телефона другого Пользователя/Клиента для целей прямой
            рекламной рассылки или другой рассылки нежелательных электронных сообщений, а также для иных противоправных
            действий или действий, совершаемых без ведома и/или согласия другой стороны;<br>
            - нарушать информационную безопасность Сайта;<br>
            - внедрять исполняемый код на стороне Пользователя/Клиента, любые внедряемые объекты, использовать frame и
            iframe, каскадные таблицы стилей, html-код;<br>
            - представляться чужим именем или от чужого имени — зарегистрированного на Сайте Пользователя/Клиента,
            сотрудника Компании. Вводить в заблуждение других Пользователей\Клиентов и администрацию Сайта относительно
            своей идентификации любым иным способом<br>
            - размещать дублирующую Информацию одного Пользователя/Клиента с использованием разных E-mail и номеров
            мобильных телефонов;<br>
            - использовать Услуги Сайта для незаконной деятельности либо деятельности, которая может привести к
            нарушению Компанией и/или Пользователем/Клиентом действующего законодательства РФ.</p>

        <br>

        <p><strong>4. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ/КЛИЕНТА</strong></p>

        <p>4.1.&nbsp;&nbsp;&nbsp; Пользователь/Клиент обязуется:<br>
            4.1.1. Соблюдать требования, определенные в настоящей Оферте, Договоре, листе заказа и иных документах,
            определяющих пользование Сайтом.<br>
            4.1.2. При Регистрации на Сайте использовать только реальные данные о себе и размещаемой Информации.<br>
            4.1.3. Следить за сохранностью своего Пароля и не раскрывать его посторонним лицам.<br>
            4.1.4. Не передавать или продавать свои Учетные данные для Авторизации на Сайте третьим лицам.<br>
            4.1.5. При размещении Информации соблюдать требования действующего законодательства РФ, в т.ч. ФЗ «О
            рекламе» от 13.03.2006г. № 38-ФЗ.<br>
            4.1.6. Предоставить, по требованию Компании, документально подтверждённые сведения о соответствии Информации
            требованиям действующего законодательства РФ, в том числе надлежащим образом заверенные копии дипломов,
            лицензий, сертификатов, свидетельств о регистрации, в случае если услуги подлежат лицензированию,
            обязательной сертификации, государственной регистрации.<br>
            4.1.7. Не размещать Информацию, входящую в «Список запрещенной к размещению Информации».<br>
            4.1.8. Не уничтожать и/или не изменять любые материалы на Сайте, автором которых Пользователь/Клиент не
            является.<br>
            4.1.9. Заполнить все необходимые формы и предоставить только свое Фото (Пользователя)/Логотип (Клиента).
            Информация, содержащая лицензируемые виды деятельности, должна содержать номер лицензии. 4.1.10. Размещать
            Информацию, соответствующую по содержанию выбранной Рубрике/подрубрике.<br>
            4.1.11. Оплачивать Платные Услуги Компании в порядке и сроки, определенные Офертой, Договором и листом
            заказа.<br>
            4.2.  Пользователь/Клиент имеет право:<br>
            4.2.1 Получать право воспользоваться Платными Услугами Сайта после полной оплаты счета, выставленного при
            оформлении листа заказа на данные Услуги.<br>
            4.2.2. Воспользоваться услугами менеджеров Компании для оказания помощи при Регистрации, как по телефону: +7
            (8482) 74-44-19, так и непосредственно при встрече.<br>
            4.2.3. Размещать Информацию об услугах, которые Пользователь/Клиент может оказывать, имея соответствующие
            навыки, образование и разрешения. 4.2.4. Разрешить оплату счета за Платные Услуги третьему лицу
            (Плательщику) с учетом требований действующего законодательства и оформленного договора. 4.3. Компания
            обязуется:<br>
            4.3.1. Предоставить Пользователю/Клиенту право пользоваться Услугами Сайта в порядке и сроки, определенными
            в Оферте, Договоре и листе заказа.<br>
            4.3.2. Предоставить возможность Пользователям/Клиентам управлять доступом к своим персональным данным и
            размещенной Информации.<br>
            4.4.&nbsp;&nbsp;&nbsp;  Компания имеет право:<br>
            4.4.1. Удалить Информацию, заблокировать доступ/удалить Учетные данные Пользователей/Клиентов, нарушивших
            положения настоящей Оферты, Договора и листа заказа, без извещения Пользователя/Клиента.</p>

        <br>

        <p><strong>5. ИНФОРМАЦИЯ, ЗАПРЕЩЕННАЯ К РАЗМЕЩЕНИЮ</strong></p>

        <p>5.1. Пользователю/Клиенту запрещено размещать, а в случае размещения, подлежит удалению Информация,
            содержащая:</p>

        <ul>
            <li>
                <p>ложные, неточные или вводящие в заблуждение сведения;</p>
            </li>
            <li>
                <p>сведения, способствующие мошенничеству, обману или злоупотреблению доверием;</p>
            </li>
            <li>
                <p>оскорбления чьей-либо чести, достоинства или деловой репутации, нарушения частной жизни;</p>
            </li>
            <li>
                <p>клевету или угрозы кому бы то ни было;</p>
            </li>
            <li>
                <p>нарушения интеллектуальных прав третьих лиц, прав на изображение гражданина, и иные права третьих
                    лиц;</p>
            </li>
            <li>
                <p>призывы к совершению преступления и разжиганию межнациональной розни;</p>
            </li>
            <li>
                <p>сведения, способствующие, поддерживающие или призывающие к террористической и экстремистской
                    деятельности;</p>
            </li>
            <li>
                <p>сведения непристойные, либо носящие характер порнографии;</p>
            </li>
            <li>
                <p>компьютерные вирусы, а также иные компьютерные программы, направленные, в частности, на нанесение
                    вреда, неуполномоченное вторжение, тайный перехват либо присвоение данных любой системы либо самой
                    системы, либо ее части, либо личной информации или иных данных (включая данные Компании);</p>
            </li>
            <li>
                <p>Сведения, причиняющие вред Компании, став причиной полной либо частичной потери Компанией услуг
                    провайдеров сети интернет, либо услуг любых иных лиц;</p>
            </li>
            <li>
                <p>сведения, иным образом нарушающие действующее законодательство РФ.</p>
            </li>
        </ul>

        <p>5.2. Удаление Информации производится Компанией в любое время без извещения Пользователя/Клиента.</p>

        <br>

        <p><strong>6. ОПЛАТА ПЛАТНЫХ УСЛУГ</strong></p>

        <p>6.1. После оформления листа заказа на пользование Платными Услугами Сайта Пользователь/Клиент либо Плательщик
            (при наличии), получает счет и выбирает способ его оплаты из предложенного на Сайте списка. Счет необходимо
            оплатить в указанный в нем срок. 6.2. Срок пользования Платными Услугами начинается с даты оплаты счета.
            Если при Регистрации не были заполнены обязательные поля или поля были заполнены некорректно, не была
            загружена фотография или иным образом нарушены правила Регистрации, Информация не отражается на Сайте до
            момента внесения соответствующих исправлений, при этом срок начала пользования Платными Услугами не
            продляется на срок, в течение которого Информация не отображалась на Сайте по вине Пользователя/Клиента.
            6.3. Каждый способ оплаты сопровождается подробной инструкцией, размещенной на Сайте. При этом Компания не
            несет ответственность за действия Пользователя/Клиента/Плательшика при оплате счета, в следствие которых
            денежные средства не поступили на счет Компании, и эти суммы Компания не компенсирует и не возвращает.<br>
            6.4. Оплата Услуг сайта производится в порядке 100% предоплаты. Услуги считаются оплаченными в момент
            извещения Компании об оплате счета. Валютой расчетов является Российский рубль.<br>
            6.5. В случае отказа Пользователя/Клиента от оплаченных Услуг Сайта до окончания срока пользования денежные
            средства не возвращаются.</p>

        <br>

        <p><strong>7. ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ</strong></p>

        <p>7.1. В соответствии с требованиями Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных»: в
            процессе пользования Услугами Сайта (в том числе при Регистрации, взаимодействии с другими
            Пользователями/Клиентами через интерфейс Сайта, размещении Информации, просмотре страниц Сайта и т.п.),
            Пользователь самостоятельно добровольно принимает решение о предоставлении Компании персональных и иных
            данных о Пользователе (фамилия, имя, отчество, адрес электронной почты, номер мобильного телефона, а также
            любая иная информация, предоставленная Пользователем, информация о действиях Пользователя на Сайте и пр.)
            для целей исполнения Оферты, а также настоящим заявляет о своем согласии на обработку и хранение Компанией
            персональных и иных данных Пользователя, их передачу для обработки другим Пользователям и/или третьим лицам,
            действующим по поручению Компании, в том числе для целей: получения статистических и аналитических данных
            для улучшения функционирования Сайта и/или Услуг, расширения спектра оказываемых Услуг, получения
            информационных и/или рекламных сообщений Компании или третьих лиц, предупреждения или пресечения незаконных
            и/или несанкционированных действий Пользователей или третьих лиц, обеспечения соблюдения требований
            действующего законодательства Российской Федерации. Компания принимает все необходимые меры для защиты
            персональных данных Пользователя от несанкционированного доступа третьих лиц<br>
            7.2. Компания не отвечает за возможное нецелевое использование информации с Сайта Пользователями/Клиентами
            или иными лицами и/или организациями, которое произошло без уведомления Компании с нарушением или без
            информационной безопасности Сайта.<br>
            7.3. Компания прилагает все возможные усилия для того, чтобы избежать несанкционированного использования
            третьими лицами персональных данных Пользователей/Клиентов. Но Компания также не несет ответственности за
            возможное нецелевое использование персональных данных пользователей/Клиентов, произошедшее в случае:<br>
            - технических неполадок в программном обеспечении, серверах или компьютерных сетях, находящихся вне контроля
            Компании;<br>
            - перебоев в работе Сайта, связанных с намеренным или ненамеренным использованием Сайта не по назначению
            третьими лицами;<br>
            - передачи паролей или информации с Сайта Пользователями/Клиентами другим лицам, не являющимися
            зарегистрированными пользователями Сайта или другим пользователям, не имеющим доступа к данной информации в
            силу условий регистрации и заключенных договоров с Компанией.<br>
            7.4. Каждый Пользователь/Клиент отвечает за Информацию, размещаемую от его имени, и за последствия этого
            размещения.<br>
            7.5. Пользователь/Клиент самостоятельно, по своему усмотрению и вне контроля со стороны Компании размещает
            Информацию на Сайте, Пользователь/Клиент несет ответственность как рекламодатель и рекламораспространитель в
            отношении всей размещенной им Информации в соответствии с ФЗ "О рекламе" и КоАП РФ.<br>
            7.6. Пользователь/Клиент самостоятельно несет ответственность за достоверность размещаемой Информации и
            качество предоставляемых им услуг, которые содержатся в Информации, а также освобождает Компанию от всех
            требований, обязательств, компенсаций по возмещению ущерба, убытков, затрат и издержек, включая судебные и
            иные расходы, возникшие в результате или в связи с требованиями третьих лиц.</p>

        <br>

        <p><strong>8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></p>

        <p>8.1 Пользователь/Клиент предоставляет Компании право использовать сведения, содержащиеся в Информации
            Пользователя/Клиента, для целей оказания Услуг, путем передачи Компании не эксклюзивного, действующего
            повсеместно, бессрочного права относительно авторских прав, торговых марок, логотипов, публикаций и баз
            данных, которое имеет Пользователь/Клиент и предоставленных им на всех известных или не известных
            информационных носителях.<br>
            8.2. Настоящая Оферта начинает действовать и, считается, безусловно принятой
            Пользователем\Клиентом\Гостем\плательщиком с момента начала пользования Услугам Сайта, независимо от факта
            Регистрации, и действует бессрочно.<br>
            8.3. Пользователь/Клиент вправе отказаться от пользования Услугами Сайта, после чего размещение Информации
            на Сайте от данного Пользователя/Клиента невозможно.<br>
            8.4. Компания оставляет за собой право по собственному усмотрению прекратить доступ к Услугам
            Пользователя/Клиента, нарушающего Оферту, Договор либо лист заказа. Пользователь/Клиент, доступ которого к
            Услугам был прекращен, или Информация которого перестала быть действительной, не имеет права
            регистрироваться повторно без соответствующего согласия Компании, а также такой Пользователь/Клиент не имеет
            права использовать для доступа на Сайт Учетные данные другого Пользователя/Клиента.<br>
            8.5. Споры, возникающие в ходе пользования Сайтом, разрешаются с соблюдением обязательного претензионного
            порядка. Срок ответа на претензию 15 дней со дня получения претензии. В случае неудовлетворения претензии
            полностью или в какой-либо части, а также в случае неполучения ответа на претензию в установленный срок,
            заинтересованная сторона вправе обратиться за разрешением спора в суд с территориальной подсудностью
            Компании.<br>
            8.6. В случае признания судом отдельных положений настоящей Оферты недействительными, остальные условия
            Оферты продолжают действовать.
        </p>
        <br>
    </div>
</div>
