.dop-function {
  @extend .col-lg-3, .col-md-4, .col-xs-12;
  @include from(md) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include from(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
  &__inner {
    @extend .row;
  }
  @include at(xs) {
    padding: 0;
  }
}

.become-master, .about-company, .bayda {
  padding-bottom: 10px;
  @extend .col-md-12, .col-sm-4;

  &__inner {
    background-color: $color-green-light;
  }
  &__title {
    padding: 16px 20px;
    font-size: 2.2rem;
    position: relative;
    svg {
      @include from(md) {
        display: none;
      }
      width: 12px;
      height: 12px;
      position: absolute;
      top: 14px;
      right: 10px;
      @include at(sm) {
        top: 11px;
      }
    }
  }
  &__title.icon-rotate {
    svg {transform: rotate(90deg);}
  }
  &__item {
    @include cf;
    &-link {
      display: block;
      height: 40px;
      padding: 10px 20px;
      width: 100%;
      color: inherit;
      text-decoration: none;
      &:hover, &_hover {
        background-color: #afd962;
      }
    }
  }
  &__icon {
    float: left;
    margin-right: 10px;
    //@extend %icon;
    //@extend %icon_block;
    //@extend %icon_man;
    //@extend %icon_size_small;
  }

  &__menu-cube {
    padding: 10px;
    @include cf;
  }
  &__item-cube {
    display: table;
    font-size: 1.2rem;
    &-link {
      display: table-cell;
      color: inherit;
      text-decoration: none;
      vertical-align: middle;
    }
  }
  @include from(md) {
    padding-right: 0;
    padding-left: 0;
    &__item-cube {
      float: left;
      height: 74px;
      width: 50%;
      text-align: center;
      border-color: #58595b;
      border-image: none;
      border-style: solid;
      border-width: 1px 0 0 1px;
      &:nth-child(2n-1) {
        border-left-width: 0;
      }
      &:nth-child(1), &:nth-child(2) {
        border-top-width: 0;
      }
      &-link {
        margin: 0;
        padding: 6px;

      }
    }
  }
  @include to(md) {
    padding-right: 5px;
    padding-left: 5px;
    &__menu, &__menu-cube {
      display: none;
    }
    &__menu-cube {
      padding: 0;
    }
    &__item {
      &-link {
        padding-top: 0;
        padding-right: 0;
        padding-left: 10px;
        height: 34px;
        line-height: 34px;
        font-size: 1.2rem;
      }
    }
    &__item-cube {
      height: 34px;
      width: 100%;
      font-size: 1rem;
      &-link {
        padding-left: 10px;
      }
      &:hover, &_hover {
        background-color: #afd962;
      }
    }
    &__title {
      padding: 0 20px;
      cursor: pointer;
      line-height: 34px;
      font-size: 1.3rem;
      &:hover {
        background-color: darken($color-green-light, 5%);
      }
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        right: 10px;
        top: 12px;
        //@extend %icon;
        //@extend %icon_block;
        //@extend %icon_strelka;
        //@extend %icon_size_xxsmall;
      }
    }
  }
  @include at(xs) {
    padding-right: 10px;
    padding-left: 10px;
    &__inner {
      //padding-top: 3px;
      //padding-bottom: 3px;
    }
    &__title {
      padding-top: 3px;
      padding-bottom: 3px;
      &:after {
        right: 20px;
        top: 15px;
      }
    }
  }

}

.bayda {
  @include from(md) {
    &__title {
      display: none;
    }
  }
}

.dop-function-block-uncollapse {
  @include to(md) {
    display: block;
  }
}