<div block="sale-cont-md">

    {{#each sales}}
    <div elem="item-cont">
        <cat-block-sale id="block-sale-{{id}}" cat-store="{{../model}}" id-block="{{@index}}"></cat-block-sale>
    </div>
    {{/each}}

</div>