.contacts-mp {
  height: inherit;
  padding: 18px;
  //padding-top: 14px;
  background-color: $color-bg-grey-light;
  position: relative;
  min-height: 225px;
  @include to(md) {
    min-height: 90px;
    height: auto;
  }
  &__a-callback {
    width: 100%;
    position: absolute;
    text-align: center;
    display: block;
    left: 0;
    bottom: 8px;
    color: $color-orange;
    font-size: 1.1rem;
  }
  &__list {
    font-size: 1.2rem;
    overflow: hidden;
    display: none;
    li {
      //border: 1px solid blue;
      position: relative;
      padding-left: 22px;
      margin-bottom: 8px;
      //max-height: 54px;
    }
    i {
      position: absolute;
      left: 0;
    }
  }
  &__onmap {
    font-size: 1.1rem;
  }
  &__cap {
    background-color: $color-bg-grey-light;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    text-align: center;
    padding: 30px 20px 0 20px;
    //border: 1px solid green;
    @include to(md) {
      height: auto;
      padding: 20px 20px 0 20px;
    }
    p {
      font-size: 2rem;
      margin-bottom: 16px;
      @include to(md) {
        display: none;
      }
    }
    svg {
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
    }
  }
  &__show-contact {
    @extend .basic-button-mid;
    bottom: 0;
    font-size: 1.2rem;
    width: auto;
    height: 40px;
    line-height: 40px;
    background-color: #666;
    color: #FFF;
    text-transform: uppercase;
    &:hover {
      color: #FFF;
      background-color: #777;
    }
  }
}
.map-cont {
  display: block;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}