<div block="page_oth_news">
    <cat-common-h1 id="common-h1" name="Новости"></cat-common-h1>

    <div elem="list">
        <cat-other-news id="other-news" cat-store="other/News"></cat-other-news>
        <cat-common-paginator id="common-paginator" cat-store="Paginator" model="other/News"></cat-common-paginator>
    </div>
</div>