<ul block="catalog-list" class="catalog-list_{{data-mod}}">
    {{#each catalogs}}
        <li elem="item">
            <a href="{{url}}" elem="item-link">
                <span elem="icon">
                    {{icon ico}}
                </span>
                {{{title}}}
            </a>
        </li>
    {{/each}}
</ul>

