<div block="vacancy-one-page">
    <h1 block="h1" mod="style">{{post}}</h1>
    <img elem="img" src="/img/other/vacancy.png" alt="Наши вакансии">

    <div elem="text" mix="block:format">
        {{{text}}}
    </div>
    <div elem="contact" mix="block:format">

        <!-- ERROR -->
        {{{contact}}}
        <p style="color: red; font-weight: bold">------ ERROR! (нет поля contact) ------</p>
        <!-- ERROR -->

    </div>
</div>
