<div block="page_oht_recommendation">
    <cat-common-h1 id="common-h1" name="Мастера о сайте"></cat-common-h1>

    <div elem="list">

        <cat-other-recommendation id="other-recommendation" cat-store="other/Recommendation"></cat-other-recommendation>
        <cat-common-paginator id="common-paginator" cat-store="Paginator"
                              model="other/Recommendation"></cat-common-paginator>

    </div>
</div>