<div block="link-mp">
    <a href="https://vk.com/id1342347">{{icon "vk"}}<span>https://vk.com/id1342347</span></a>
    <a href="https://ok.com/id1342347">{{icon "ok"}}<span>https://ok.com/id1342347</span></a>
    <a href="http://my-site.ru">{{icon "earth"}}<span>http://my-site.ru</span></a>
    {{contacts.links}}
</div><!-- link-mp -->