.request {
  display: block;
  height: 60px;
  line-height: 21px;
  font-size: 1.4rem;
  padding: 10px;
  background-color: #eed200;
  font-weight: bold;
  text-decoration: none;
  color: $color-text-dark;
  @include cf;
  @include at(xs) {
    height: 40px;
    overflow: hidden;
  }
  &:hover {
    background-color: lighten(#eed200, 10%);
    color: $color-text-dark;
  }
  &__icon {
    .icon{
      display: block;
      @include icon_size(42px);
    }
    float: left;
    margin-right: 10px;
    @include at(xs) {
      display: none;
    }
  }
}