<div block="inner-top">
    <div elem="title">
        <cat-common-h1 id="common-h1" name="{{currentSeo.pageTitle}}"></cat-common-h1>
    </div>

    <div elem="search">
        <cat-search id="search" modificator="inner"></cat-search>
    </div>
    <div elem="callback">
        <a block="request" href="/request">
            <div elem="icon">{{icon "star-in-sun"}}</div>
            Отправить задание мастерам
        </a>
    </div>
</div>
<div block="inner-content">
    <div elem="left-side">
        <cat-master-filter id="master-filter" cat-store="Tag"></cat-master-filter>
        { {> banner/banner_side/banner_side banner_side} }
    </div>
    <div elem="right-side">
        <cat-master-recommended id="master-recommended" cat-store="master/Recommended"></cat-master-recommended>
        <cat-master-list id="master-list" cat-store="master/MasterList"></cat-master-list>
    </div>
</div>
<div block="row">
    {{#if currentSeo.text}}
        <div block="seo-text">
            <div elem="text" mix="block:format">
                {{{currentSeo.text}}}
            </div>
        </div>
    {{/if}}
</div>