<!DOCTYPE html>
<html lang="en">
<head cat-store="Head"></head>
<body>
<cat-pages-header id="pages-header" cat-store="Pages"></cat-pages-header>
<cat-pages-content id="pages-content" cat-store="Pages"></cat-pages-content>
<cat-pages-footer id="pages-footer" cat-store="Pages"></cat-pages-footer>


<div block="counters">
    <!--{ { > footer/counters/counters counters} }-->
    <cat-counter-ya></cat-counter-ya>
    <cat-counter-ga></cat-counter-ga>
</div>
</body>
</html>
