.callback_request {
  //@extend .col-xs-12;
  &__form {
    background-color: $color-bg-grey-light;
    padding: 10px;
    max-width: 500px;
    @extend .col-xs-12;
  }
  &__intro {
    padding-bottom: 10px;
    font-size: 2rem;
  }
  &__input {
    margin-bottom: 20px;
    label {
      display: block;
      input {
        position: relative;
        top: 2px;
      }
    }
  }
  &__submit {
    width: 200px;
    @include at(xs) {
      margin: 0 auto;
    }
  }
  &__info {
    color: $color-a;
    border-bottom: 1px dashed;
    cursor: pointer;
    position: relative;
    &:hover {
      color: $color-a-hover;
    }
  }
  &__tip {
    @extend .tips;
  }
  textarea {
    min-height: 84px;
    max-height: 160px;
    vertical-align: middle;
  }
  .success {
    max-width: 500px;
    margin-bottom: 10px;
  }
}

.callback_popup {
  background-color: $color-bg-grey-light;
  padding: 20px;
  display: none;
  &__input {
    padding-bottom: 20px;
  }
}