<div block="add-comment">
    {{#if success}}
        <p block="success">Ваш отзыв успешно отправлен, спасибо!</p>
        <br>
    {{/if}}
    <form id="add-comment-form" elem="form" method="POST" action="">
        <div elem="input">
            <input elem="text-input" type="text" placeholder="Ваше имя" name="authorName"
                   value="{{form.authorName}}">
        </div>
        <div elem="input">
            <input elem="text-input" type="text" placeholder="Ваш номер телефона" name="authorContact"
                   value="{{form.authorContact}}">
        </div>
        <div elem="input">
            <textarea elem="textarea" placeholder="Текст отзыва" name="text">{{form.text}}</textarea>
        </div>
        <input elem="btn" type="submit" value="Отправить">
    </form>
</div>
