<div block="main-page">
    <cat-page-main-function id="main-function" cat-store="master/MasterCount"></cat-page-main-function>
    <cat-page-dop-function id="dop-function"></cat-page-dop-function>
</div>
