{{#each this}}
    <div>
        <p>{{id}}</p>

        <p>{{name}}</p>

        <p>{{imgID}}</p>

        <p>
            ERROR НЕТ ДАННЫХ: количество лайков, наличие видео аудио и пр, количество мастеров
        </p>
    </div>
    <hr>
{{/each}}
