<div block="why-we-wr">
    <div class="container">
        <div class="row">
            <section block="why-we">
                <p block="page-title" mod="landing">Почему выбирают нас?</p>
                <div elem="list">
                    <div class="row">
                        <div block="our-plus">
                            <div elem="round">
                                <p elem="title">{{count.master}}</p>

                                <p elem="text">{{{count.masterName}}}</p>
                            </div>
                        </div>
                        <div block="our-plus">
                            <div elem="round">
                                <p elem="title">{{count.visits}}</p>

                                <p elem="text">посещений<br>в неделю</p>
                            </div>
                        </div>
                        <div block="our-plus">
                            <div elem="round">
                                <p elem="title">{{count.orders}}</p>

                                <p elem="text">поступивших<br>заявок</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
