.social {
  text-align: justify;
  //line-height: 0;
  font-size: 1px;
  &:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
  &__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 28px;;
    background-color: $color-bg-grey-medium;
    &:hover {
      background-color: $color-bg-grey-dark;
    }
    a {
      line-height: 28px;
      display: inline-block;
      width: 28px;
      height: 28px;
      text-align: center;
      padding: 4px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}