<ul block="social">
    {{#each this}}
    <li elem="item">
        <a href="{{url}}" elem="item-link" mix="block:link" target="_blank">
            <span class="social-icon social-icon_{{mod}}"></span>
        </a>
    </li>
    {{/each}}
</ul>
