
<div class="container"  mix="block:corner, mod:bg">
    <div class="row">
        <section block="faq">
            <p block="page-title" mod="landing">Частые вопросы:</p>

            <div elem="block">
                <div elem="item">
                    <p elem="item-title"><span  elem="item-title-inner">Как оплатить сервис?</span></p>

                    <p elem="item-text">На данный момент, чтобы совершить оплату,
                        вам нужно приехать в наш офис по адресу Автостроителей 41А к.1 с 9:00 до 17:00 (пн-пт).
                        Менеджер предоставит вам всю необходимую информацию по выбору
                        тарифного плана и проведению оплаты. Также мы работаем над системой
                        электронных платежей.
                    </p>
                </div>
                <div elem="item">
                    <p elem="item-title"><span  elem="item-title-inner">Что будет, когда закончится месяц?</span></p>

                    <p elem="item-text">Вы получите уведомление на ваш e-mail, зарегистрированный в системе, с предложением продлить действующий тарифный план или перейти на новый. Если в течение 30 дней вы ни разу не совершили вход в кабинет сайта FaceMaster, то ваш кабинет будет удалён.</p>
                </div>
            </div>
            <div elem="block">
                <div elem="item">
                    <p elem="item-title"><span  elem="item-title-inner">Могу ли я изменить тарифный план?</span></p>

                    <p elem="item-text">Если вы пользуетесь бесплатной мини-страницей, то получить все возможности эффективного продвижения на сайте FaceMaster вы можете в любое время, выбрав тарифный план и оплатив его. Если вы уже совершили оплату и хотите поменять один тарифный план на другой, то вам нужно подождать, пока закончится первый.</p>
                </div>
                <div elem="item">
                    <p elem="item-title"><span  elem="item-title-inner">У меня есть вопрос!</span></p>

                    <p elem="item-text">Будем рады представить вам
                        дополнительную информацию о работе платформы и о ценах по телефону (8482) 74-44-19.</p>
                </div>
            </div>
        </section>
    </div>
</div>
