{{#if exist}}
    <div block="services-another">
        <p elem="name">Услуги Мастера в других рубриках</p>
        <ul elem="list">
            {{#each list}}
                <li><a href="/{{publication.number}}">{{rubrika.name}}</a></li>
            {{/each}}
        </ul>
        <br elem="clear">
    </div>
{{/if}}