.master-list {
  //padding-top: 20px;
  &__item {
    padding-bottom: 20px;
  }
  &__preloader {
    display: none;
    text-align: center;
    padding: 30px 0;
  }
}

.master-list-info {
  padding: 20px;
  background-color: $color-bg-grey-xmedium;
  position: relative;
  @include at(xs) {
    padding-bottom: 60px;
  }
  &__text {
    display: table;
    font-size: 1.6rem;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      min-width: 50px;
      &:first-child {
        font-size: 2.6rem;
      }
    }
  }
  &_good {
    color: #FFF;
    background-color: $color-orange;
    //display: none;
    .master-list-info {
      &__btn {
        background-color: #FFFFFF;
        color: $color-orange;
        &:hover {
          background-color: #FFFFFF - #111111;
        }
      }
    }
  }
  &__btn {
    @extend .basic-button-auto;
    float: right;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    @include at(sm) {
      font-size: 1.4rem;
      padding: 0 12px;
    }
    @include at(xs) {
      position: absolute;
      float: none;
      width: 230px;
      left: 10px;
      bottom: 10px;
    }
  }
}

.spinner {
  margin: 15px auto 30px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.7em solid rgba(178,178,178, 0.2);
  border-right: 0.7em solid rgba(178,178,178, 0.2);
  border-bottom: 0.7em solid rgba(178,178,178, 0.2);
  border-left: 0.7em solid #b2b2b2;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.spinner,
.spinners:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
