<div block="master-list">

    {{#unless this}}
        <div block="master-list-info">
            <a elem="btn" href="/site/reg">Стать мастером</a>
            <p elem="text">
                <span>:-</span>
                <span>Тут ещё нет Мастера.<br>Вы можете быть первым!</span>
            </p>
        </div>

        <div block="master-list-info" mod="good">
            <a elem="btn" href="/site/reg">Стать мастером</a>
            <p elem="text">
                <span>:-</span>
                <span>Тут ещё нет Мастера.<br>Вы можете быть первым!</span>
            </p>
        </div>
    {{/unless}}

    {{#if this}}
        <div block="popup-video-cont">
            <p elem="title"></p>

            <div elem="video-cont"></div>

            <div block="master-micro-inf" mod="video">
                <p elem="title">Видео добавил:</p>
                <a href="" elem="cont">
                    <span elem="img"><img src="" alt=""></span>
                    <span elem="name"><br></span>
                </a>
            </div>

            <p elem="text"></p>

            <div elem="social-cont"></div>
        </div>
    {{/if}}

    {{#each this}}
        <div elem="item">
            <cat-master-minicard id="master-minicard-{{id}}" master-id="{{id}}" cat-store="master/MasterList"></cat-master-minicard>
        </div>
    {{/each}}

    {{#if this}}
        <div block='wait-spinner' id="wait-spinner">
            <div elem="animate">{{icon "spinner"}}</div>
        </div>
    {{/if}}
</div><!--master-list-->