<div block="master-rubrikator-page" mod="collapsed">

    <cat-common-h1 id="common-h1" name="Каталог компаний"></cat-common-h1>

    <div class="row">
        <div elem="rubriks-columns">
            <div class="row">
                <cat-rubrikator-list id="rubrikator-list" cat-store="rubrika/RubrikatorCompany" catalog="company"></cat-rubrikator-list>
            </div>
        </div>
        <div elem="dop">
            <p elem="dop-title">Другие возможности
                в подборе мастера</p>

            <div elem="dop-catalogs">
                <cat-catalog-list id="catalog-list" data-mod="page_rubrikator"></cat-catalog-list>
            </div>
        </div>
    </div>
</div>

