<div block="service-md">
    <ul elem="list">
        {{#each services.part1}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <ul elem="list">
        {{#each services.part2}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <br elem="clear">
</div><!--mde-service-->

