<div block="service-md">
    <ul elem="list">
        {{#each services.part1}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <ul elem="list">
        {{#each services.part2}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <br elem="clear">
    <cat-master-block-service-another id="master-block-service-another"
                                      cat-store="master/MasterInAnotherRubrika"></cat-master-block-service-another>
</div><!--mde-service-->

