<div block="page-recovery">
    <h1 block="h1" mod="style">Восстановить пароль</h1>

    {{#if success}}
        <p block="success">Новый пароль выслан на указанный телефон и&nbsp;электронную почту.</p>
    {{/if}}

    <form id="recovery-pass-form" block="recovery-pass-form" method="post" action="recovery">

        <div elem="input">
            <input elem="input-text" type="text" placeholder="Эл. почта или телефон" name="login"
                   autofocus="" value="{{form.login}}">
        </div>

        <div elem="capcha" mod="registration">
            <div elem="code-img">
                <img elem="capcha-img" src="http://api.facemaster.ru/captcha?clientID={{keycaptcha}}" alt="capcha">
            </div>
            <a elem="reload-link" href="">Получить новый код</a>
        </div>
        <input type="hidden" elem="client-id" name="clientID" value="{{keycaptcha}}">

        <div elem="input">
            <input elem="input-text" type="text" placeholder="Код с картинки" name="captcha">
        </div>

        <input elem="btn" type="submit" value="Восстановить">
    </form>
</div>

