<div block="contact-page">
    <h1 block="h1" mod="style">Контакты</h1>

    <div block="contact-block">
        <p elem="phone"><span elem="name">Телефон:</span> {{phone}}</p>
        <p elem="email"><span elem="name">E-mail:</span> <a href="mailto:{{email}}">{{email}}</a></p>
        <p elem="adress"><span elem="name">Адрес:</span> {{adress}}</p>
    </div>

</div>