.next-prev-master {
  display: table;
  //border: 1px solid blue;
  float: right;
  position: relative;
  top: -20px;
  @include at(md) {
    top: -10px;
  }
  @include at(sm) {
    top: 10px;
  }
  @include at(xs) {
    top: 0;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    img {
      display: none;
    }
  }
  a {
    display: table-cell;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 8px;
    + a {
      border-left: 1px solid #BBB;
    }
    &:hover {
      color: $color-orange;
      svg {
        fill: $color-orange;
      }
    }
  }
  &__prev {
    padding-right: 8px;
    padding-left: 0;
    span {
      text-align: right;
    }
  }
  * {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 6px;
  }
  svg {
    display: inline-block;
  }
}