<div block="vacancy-page">
    <h1 block="h1" mod="style">Наши вакансии</h1>
    <img elem="img" src="/img/other/vacancy.png" alt="Наши вакансии">

    <p elem="text">
        Мы - молодой коллектив единомышленников, если у Вас есть желание работать в нашей компании, то присоединяйтесь к
        нам, участвуйте в создании нового интересного продукта. Вместе с нами вы сможете воплотить свои самые смелые
        идеи, раскрыть свой творческий потенциал и реализоваться в карьерном плане. Мы ищем целеустремленных и уверенных
        специалистов, которые верят в свои силы и успех.
    </p>

    {{#if this}}
        <br>

        <p elem="open"><strong>Сейчас открыты вакансии:</strong></p>
    {{/if}}
    {{#each this}}
        <p><a href="/vacancy/item/{{id}}">{{post}}</a></p>
    {{else}}
        <p><strong>Сейчас открытых вакансий нет.</strong></p>
    {{/each}}
</div>
