.vacancy-page{
    //@extend .col-xs-12;
    @include at(xs){
        padding:0;
    }
    &__img{
        margin-left:20px;
        float: right;
        border:3px solid $color-orange;
        @include at(sm){
            width: 200px;
        }
        @include at(xs){
            width: 100%;
            margin-bottom:10px;
        }
    }
    &__text{
        margin-bottom:20px; 
    }
}