.callback-popup {
  background-color: $color-bg-grey-light;
  padding: 20px;
  &__title {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    //letter-spacing: 0.025em;
    margin-bottom: 20px;
  }
  &__form {
    max-width: 360px;
  }
  &__input {
    margin-bottom: 20px;
  }
  &__input-text {
    @extend .basic-input;
    padding: 8px 10px;
  }
  &__textarea {
    @extend .basic-input;
    padding: 8px 10px;
    margin-bottom: 20px;
    display: block;
    resize: vertical;
    min-height: 80px;
    max-height: 240px;
  }
  &__btn {
    @extend .basic-button-mid;
    width: 210px;
    margin: 0 auto;
  }
}