<div block="callback-popup">
    <p elem="title">Отправить заявку Мастеру</p>

    <form elem="form" id="callback-request-popup-form" method="post" action="">
        <div elem="input">
            <input elem="input-text" type="text" placeholder="Ваше имя" name="RequestMasterForm[contactName]">
        </div>

        <div elem="input">
            <input elem="input-text" type="text" placeholder="Ваш телефон" name="RequestMasterForm[contactPhone]">
        </div>

        <div elem="input">
            <textarea elem="textarea"
                      placeholder="Ваш комментарий"
                      name="RequestMasterForm[text]"></textarea>
        </div>

        <input elem="btn" type="submit" value="отправить заявку">
    </form>
</div>

<div block="success_response">
    Ваша заявка отправлена Мастеру
</div>