<div block="callback-popup">
    <h2>Отправить заявку Мастеру</h2>
    <form elem="form" id="callback-request-popup-form" method="post" action="">
        <input elem="input-text" type="text" placeholder="Ваше имя" name="RequestMasterForm[contactName]">
        <input elem="input-text" type="text" placeholder="Ваш телефон" name="RequestMasterForm[contactPhone]">
            <textarea elem="textarea"
                      placeholder="Ваш комментарий"
                      name="RequestMasterForm[text]"></textarea>
        <input elem="btn" type="submit" value="отправить заявку">
    </form>
</div>

<div block="success_response">
    Ваша заявка отправлена Мастеру
</div>