.main-menu {
  height: 24px;
  line-height: 24px;
  font-size: 1.4rem;
  //border: 1px solid blue;
  @include at(sm){
    display: table;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  &__item {
    float: left;
    text-transform: uppercase;
    padding: 0 12px;
    border-right: 1px solid $color-text;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
    }
    @include at(md){
      padding: 0 10px;
    }
    @include at(sm){
      text-align: center;
      padding: 0;
      display: table-cell;
      float: none;
      &:first-child {
        text-align: left;
        width: 140px;
      }
      &:last-child {
        text-align: right;
        width: 150px;
      }
    }
  }
}