<nav block="menu">
    <ul block="main-menu">
        {{#each menu}}
            <li elem="item">
                <a href="{{link}}" elem="item-link" mix="block:link">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</nav>
