<cat-page-registration-header id="registration-header"></cat-page-registration-header>
<div id="form1">
    <cat-page-registration-form id="registration-form-1"></cat-page-registration-form>
</div>
<cat-page-registration-about id="registration-about"></cat-page-registration-about>
<cat-page-registration-why-we id="registration-why-we"></cat-page-registration-why-we>
<cat-page-registration-price id="registration-price"></cat-page-registration-price>
<div id="form2">
    <cat-page-registration-form id="registration-form-2"></cat-page-registration-form>
</div>
<cat-page-registration-more-page id="registration-more-page"></cat-page-registration-more-page>
<cat-page-registration-faq id="registration-faq"></cat-page-registration-faq>
<div id="form3">
    <cat-page-registration-form id="registration-form-3"></cat-page-registration-form>
</div>