<div block="more-page-wr">
    <div class="container">
        <div class="row">
            <section block="more-page">
                <p block="page-title" mod="landing">Подробнее о страницах:</p>

                <div elem="item">
                    <div elem="pic">
                        <img alt="страница и мини-страница" src="/img/registration/1.png"
                             width="100%" elem="pic-img" >
                    </div>
                    <div elem="text">
                        <div elem="text-title">
                            <div elem="text-title-count"></div>
                            <div elem="text-title-header" mod="no-valign">Каталог мастеров</div>
                            <div elem="text-title-sub-header">Мини-страница + личная страница</div>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-title">Личная страница</p>

                            <p elem="paragraph-text">Личная страница – это ваше собственное информационное пространство для продвижения в Сети. Она может стать аналогом персонального сайта, либо, если у вас уже есть свой сайт, мы поможем расширить арсенал для привлечения на него клиентов. Личная страница даёт доступ к множеству сервисов, чтобы помочь специалисту и клиенту найти друг друга: написание статей, фотоальбомы, отзывы, продвижение в социальных сетях, видеокаталог, рубрика «Советы Мастеров», каталог фирм и многое другое.</p>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-title">Мини-страница</p>

                            <p elem="paragraph-text">Мини-страница — это ваша визитка с контактной информацией. Зарегистрировавшись на нашем сайте бесплатно, вы получаете только место в общем каталоге Мастеров, где вашу визитку смогут увидеть посетители. Но вы всегда можете сделать из неё личную страницу и тем самым увеличить приток клиентов. Для этого вам нужно выбрать и оплатить один из тарифных планов.</p>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="pic">
                        <img alt="страница и мини-страница" src="/img/registration/2.png"
                             width="100%" elem="pic-img" mod="offset-1">
                    </div>
                    <div elem="text">

                        <div elem="text-title">
                            <div elem="text-title-count"></div>
                            <div elem="text-title-header">Каталог скидок и подарков</div>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-text">Устраивайте акции и скидки, получая ещё больше клиентов! Многие посетители регулярно отслеживают выгодные предложения в нашем каталоге «Скидки и подарки». Поэтому если вы размещаете в нём информацию о скидке, то шансы, что клиент заинтересуется вашим предложением, возрастают вдвое! Кроме того, самые актуальные и интересные акции мы регулярно освещаем в социальных сетях.</p>
                        </div>
                    </div>
                </div>
                <div elem="line"></div>
                <div elem="item">
                    <div elem="pic">
                        <img alt="страница и мини-страница" src="/img/registration/3.png"
                             width="100%" elem="pic-img" mod="offset-1">
                    </div>
                    <div elem="text">
                        <div elem="text-title">
                            <div elem="text-title-count"></div>
                            <div elem="text-title-header">Каталог видео</div>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-text">В видеокаталоге уже собрана целая коллекция самых полезных роликов, найденных Мастерами на просторах Интернета. Многие специалисты не только отбирают лучшее, исходя из своих знаний и опыта, но и создают его! Вы можете заснять на видео себя, свою работу, довольных клиентов, показать, как что-то работает, или дать дельный совет из собственной практики. Видеоролики способны показать посетителю то, что порой сложно передать одними фотографиями, помогают сформировать интерес к какой-либо услуге или товару.</p>
                        </div>
                    </div>
                </div>
                <div elem="line"></div>
                <div elem="item">
                    <div elem="pic">
                        <img alt="страница и мини-страница" src="/img/registration/4.png"
                             width="100%" elem="pic-img" mod="offset-1">
                    </div>
                    <div elem="text">

                        <div elem="text-title">
                            <div elem="text-title-count"></div>
                            <div elem="text-title-header">Каталог советов мастеров</div>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-text">Рубрика «Секреты Мастеров» – это сборник статей от наших специалистов для помощи посетителям в самых различных жизненных ситуациях. Чтобы попасть в каталог «Секретов», вам нужно написать на личной странице статью. Интересный и полезный материал демонстрирует клиенту ваш богатый опыт и высокий уровень профессионализма. Когда статья будет опубликована на вашей странице, модераторы проверят, подходит ли она для каталога советов. Главными критериями являются практичность и понятность для посетителя, отсутствие прямой рекламы.</p>
                        </div>
                    </div>
                </div>
                <div elem="line"></div>
                <div elem="item">
                    <div elem="pic">
                        <img alt="страница и мини-страница" src="/img/registration/5.png"
                             width="100%" elem="pic-img" mod="offset-1">
                    </div>
                    <div elem="text">

                        <div elem="text-title">
                            <div elem="text-title-count"></div>
                            <div elem="text-title-header">Каталог фирм</div>
                        </div>
                        <div elem="paragraph">
                            <p elem="paragraph-text">Помимо перечня отдельных специалистов у нас также есть каталог компаний. На сегодняшний день в нём находится более 100 организаций, где работают наши Мастера. Все компании располагаются в соответствии с привычным рубрикатором в зависимости от того, в какой сфере посетитель ищет специалиста. Данный каталог помогает организовать эффективное продвижение не только для отдельного сотрудника, но и для целой компании. Каждая организация может иметь одного своего представителя на FaceMaster или больше. Также в каталоге фирм есть свой рейтинг рекомендаций. Он складывается из суммы «лайков», которые получили все Мастера из одной компании. Таким образом, чем популярнее сотрудники среди клиентов, тем выше рейтинг организации.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
