<div block="page-404">

    <h1 elem="info">
        <span>404</span>
        <span>такой&nbsp;страницы<br>не&nbsp;существует :-(</span>
    </h1>

    <p elem="help-text">Попробуйте найти её с помощью поиска</p>

    <div elem="search-cont">
        <cat-search id="search"></cat-search>
    </div>
</div>