<p>Вводная: сейчас на сайте каталог видео выглядит ушлепски. Предлагаю его сделать внешне(структурно) таким же
как каталог советов. Также в каталоге совеов нет указания количества элементов в рубрике. Теперь их достали из бд и их можно указать</p>
<h2>Рубрикатор</h2>
{{#each rubrikator}}
    {{#with parent}}
        <p><a href="/video/catalog/{{id}}">{{name}} {{videoCount}}</a> {{#is ../../currentRubrika "==" id}}active{{/is}}</p>
    {{/with}}
{{/each}}

<h2>Список видео</h2>
{{#each data}}
    <p>{{title}}</p>
{{/each}}
<br>
<p>пагинатор должен лежать внутри компонента с cat-store VideoByRubrika</p>
<cat-common-paginator id="common-paginator" cat-store="Paginator" model="video/VideoByRubrika"></cat-common-paginator>