.other-news, .article-item {
  position: relative;
  min-height: 500px;
  &__content {
    margin-right: 240px;
    margin-bottom: 20px;
    @include to(md) {
      margin-right: 0;
    }
  }
  &__secondary {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 220px;
    min-height: 100px;
    @include to(md) {
      width: auto;
      position: static;
      float: none;
    }
  }
  &__title-cont {
    background-color: $color-bg-grey-light;
    padding: 10px;
    min-height: 120px;
    margin-bottom: 20px;
  }
  &__title-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    img {
      width: 100%;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 6px;
  }
  &__author {
    font-size: 1.3rem;
  }
  &__text {
    margin-bottom: 30px;
    overflow: hidden;
    p {
      line-height: 1.4;
      margin-bottom: 8px;
    }
    img {
      max-width: 100%;
    }
  }
  &__source {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  &__vk-widget {
    margin-bottom: 20px;
    width: 220px;
    @include to(md) {
      float: left;
    }
    @include at(xs) {
      float: none;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__news-nav {
    background-color: $color-bg-grey-light;
    width: 100%;
    height: 100px;
    display: table;
    @include to(md) {
      width: 220px;
      margin-left: 20px;
      float: left;
    }
    @include at(xs) {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
  &__nav-links {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    a {
      text-decoration: none;
      padding: 8px;
      line-height: 1;
    }
    a span {
      text-decoration: underline;
      font-size: 1.6rem;
      line-height: 1;
      position: relative;
      top: -1px;
    }
  }
  &__footer {
    background-color: $color-bg-grey-light;
    padding: 10px;
    min-height: 42px;
    overflow: hidden;
    #vk_like {
      max-height: 22px;
      overflow: hidden;
    }
  }
}