.mde-album-cover {
  padding: 6px;
  background-color: $color-bg-grey-light;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  vertical-align: top;
  display: block;
  position: relative;
  &:hover {
    background-color: $color-orange + #111111;
    cursor: pointer;
    > a {
      color: #333;
    }
  }
  img {
    width: 100%;
    vertical-align: middle;
  }
  a span {
    display: inline-block;
    max-height: 30px;
    overflow: hidden;
    margin-top: 8px;
  }
  &__icon {
    display: inline-block;
    position: relative;
    background-color: #FFF;
    min-height: 191px;
    line-height: 191px;
    width: 100%;
    svg {
      vertical-align: middle;
      width: 64px;
      height: 64px;
    }
  }
}

.photo-md {
  //padding-bottom: 20px;
  @include at(xs) {
    text-align: center;
  }
  &__item-cont {
    @extend .col-sm-4, .col-xs-6;
    padding: 0 7px 14px 7px;
    //padding-bottom: 16px;
  }
  &__row {
    @extend .row;
    margin: 0 -7px;
  }
  &__cf {
    @include cf;
  }
  &__album-cover, &__img-prev {
    @extend .mde-album-cover;
  }
  &__album-cover {
    //padding: 7px;
  }
  &__img-prev {
    border: 1px solid darken($color-bg-grey-light, 10%);
  }
  &__album-title {
    color: #444;
    font-size: 1.6rem;
    margin-bottom: 12px;
    padding: 0 10px;
  }
  &__album-cont {
    @include cf;
    padding: 16px 10px 10px 10px;
    background-color: $color-bg-grey-xmedium;
    margin-top: 10px;
    display: none;
    &:first-child {
      display: block;
    }
  }
  &__album-cover.act {
    background-color: $color-orange + #111111;
    > a {
      color: #333;
    }
  }
  .empty-data {
    margin-left: 0;
  }
}