<div block="page-login">
    <h1 block="h1" mod="style">Вход для Мастеров</h1>
    {{#if success}}
        <p block="success">Вы успешно авторизовались, сейчас Вы будете перенаправлены в личный кабинет.</p>
    {{else}}
        <form block="login-form" method="post" action="" id="login-form">
            <div elem="input">
                <input elem="input-text" type="text" placeholder="Эл. почта или телефон" name="login" value="{{form.login}}" required>
            </div>
            <div elem="input">
                <input elem="input-text" type="password" placeholder="Пароль" name="password" value="{{form.password}}" required>
            </div>
            <label elem="label-checkbox"><input type="checkbox" id="remember-me"
                                                name="rememberme" value="{{form.rememberme}}"><span>Запомнить меня</span></label>
            <input elem="btn" type="submit" value="Войти">

            <p elem="href-cont">
                <a elem="recovery" href="/recovery">Забыли пароль?</a>
                <a elem="registration" href="/registration" id="reg-link">Регистрация</a>
                <br>
            </p>
        </form>
    {{/if}}
</div>
