.company-page {
  // наследованно от .master-page
  &__master-item {
    padding-bottom: 20px;
  }
}
.company-card-cp {
  height: inherit;
  background-color: $color-bg-grey-light;
  position: relative;
  margin-left: 225px;
  @include at(xs) {
    margin-left: 0;
  }
  &__name {
    display: table;
    width: 100%;
    line-height: 1.4;
    margin: 0;
    height: inherit;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      font-weight: bold;
    }
  }
}
.contacts-cp {
  height: inherit;
  background-color: $color-bg-grey-light;
  position: relative;
  &__addr {
    margin: 0 0 3px 10px;
    padding-top: 5px;
  }
  &__work-phone {
    margin: 0 0 3px 10px;
  }
  &__map-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 180px;
    iframe {
      width: 100%;
      min-height: 180px;
    }
  }
}