.breadcrumbs {
  padding-top: 15px;
  //@extend .col-xs-12;
  font-size: 1.1rem;
  @include at(xs) {
    padding: 0;
  }
  &__header {
    color: $color-text-blue;
    font-weight: bold;
  }
  &__icon {
    margin: 0 6px;
    .icon {
      @include icon_size(8px);
    }
  }
  &__list-container {
    display: none;
    background-color: $color-bg;
    padding: 5px 10px 10px 5px;
    border-left: 1px solid $color-text;
    position: absolute;
    z-index: 1000;
    line-height: 15px;
  }
}

.js-parent-rub, .js-parent-rub:hover {
  text-decoration: underline;
}