.sale {
  padding: 0 10px 10px 10px;
  background-color: $color-bg-grey-light;
  height: 288px;
  max-height: 288px;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: $color-bg-grey-xmedium;
    .sale__title {
      background-color: $color-orange - #111111;
    }
  }
  &_catalog {
    padding: 0;
    background-color: #FFF;
    height: 260px;
    max-height: 260px;
    &:hover {
      background-color: #FFF;
    }
    .sale {
      &__title {
        margin-bottom: 0;
      }
      &__pic {
        margin-bottom: 8px;
        max-height: 138px;
        @include at(xs) {
          margin-bottom: 0;
          max-height: 210px;
        }
      }
      &__text {
        padding: 0 8px 5px 8px;
        height: 67px;
        @include at(sm) {
          font-size: 1.1rem;
          height: 69px;
        }
        @include at(xs) {
          display: none;
        }
        //border: 1px solid blue;
      }
    }
  }
  &__pic {
    max-height: 126px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
  }
  &__text {
    height: 94px;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__link {
    text-decoration: none;
  }
  &__title {
    background-color: $color-orange;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    box-sizing: content-box;
    text-align: center;
    margin-left: -10px;
    font-size: 1.5rem;
    letter-spacing: 0.075em;
    margin-bottom: 10px;
  }
  &__popup-content {
    display: none;
  }
}

.sale.popup {

}

.sale_catalog.popup {

}