.sale {
  background-color: #FFF;
  height: 260px;
  max-height: 260px;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: #FFF;
    .sale__title {
      background-color: $color-orange - #111111;
    }
  }
  &_catalog {
    .sale {
      &__pic {
        @include at(xs) {
          margin-bottom: 0;
          max-height: 210px;
          line-height: 210px;
        }
      }
      &__text {
        @include at(sm) {
          font-size: 1.1rem;
          height: 69px;
        }
        @include at(xs) {
          display: none;
        }
      }
    }
  }
  &__pic {
    max-height: 138px;
    line-height: 138px;
    margin-bottom: 8px;
    overflow: hidden;
    text-align:center;
  }
  &__img {
    margin: -100%;
    width: 100%;
    vertical-align: middle;
  }
  &__text {
    //height: 94px;
    font-size: 1.3rem;
    padding: 0 8px 5px 8px;
    height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__link {
    text-decoration: none;
  }
  &__title {
    background-color: $color-orange;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    box-sizing: content-box;
    text-align: center;
    margin-left: -10px;
    font-size: 1.5rem;
    letter-spacing: 0.075em;
  }
}