<div block="search">
    <a href="/search" elem="link">{{icon "search"}} Найти услугу</a>
    <form elem="form" action="{{url}}" method="{{method}}">
        {{icon "search"}}
        <label elem="field">
            <input type="text" name="search" elem="input" autofocus>
        </label>
        <input type="submit" elem="submit" value="Найти услугу">
    </form>
</div>