.master-micro-inf {
  //display: none;
  position: relative;
  &__title {
    font-weight: bold;
    margin-bottom: 6px;
  }
  a {
    display: table;
    height: 50px;
    width: 180px;
    color: inherit;
  }
  span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 1.1rem;
    //border: 1px solid blue;
  }
  span:first-child {
    padding: 0;
    width: 50px;
  }
  img {
    vertical-align: middle;
  }
  &_video {
    .master-micro-inf {
      &__title {
        font-size: 1.1rem;
        font-weight: normal;
        margin-bottom: 0;
        position: absolute;
        left: 60px;
        top: 0;
      }
    }
  }
}