<div class="container">
    <div class="row">
        <section block="landing-header">
            <h1 block="page-title" mod="landing">FaceMaster — сайт поиска специалистов
                в сфере услуг в Тольятти</h1>
        </section>
    </div>
</div>