.logo {
  width: 100px;
  @include at(sm){
    width: 80px;
  }
  &__img {
    width:100%;
    &:hover {
      + .visitor .visitor__mera {
        opacity: 0;
      }
    }
  }
  &__link {
    display: block;

  }
}

