.title {
  display: block;
  text-decoration: none;
  &__text {
    letter-spacing: 0.05em;
    @include at(lg) {
      font-size: 2.3rem;
      line-height: 30px;
    }
    @include at(md) {
      font-size: 2.1rem;
      line-height: 30px;
    }
    @include at(sm) {
      font-size: 1.8rem;
      line-height: 25px;
    }
  }
  &:hover{
    color: $color-a;
  }
  @include at(xs){
    padding-top:60px;
    padding-bottom: 10px;
    background-image: url(http://facemaster.ru/design/v_2.1/img/facemasterLogoMini.png);
    background-color: $color-orange;
    background-position: center 10px;
    background-repeat: no-repeat;
    &__text {
      text-align: center;
      color: #fff;
      @include font-tuning(10,16);
      font-size: 1rem;
      line-height: 16px;
    }
  }
}


