<div block="video-md">

    {{#each videos}}
        <div elem="item-cont">
            <cat-block-video id="block-video-{{id}}" cat-store="{{../model}}" id-block="{{id}}" index="{{@index}}"></cat-block-video>
        </div>
    {{/each}}

</div><!-- video-md -->
